.progress-bar-container {
    background: #002200;
/*    height: 25px;*/
    border: 1px solid #005500;
    padding: 2px;
    margin-top: 20px;
    position: relative;
}

.progress-bar {
    background: #00ff00;
    height: 100%;
    /* Эффект полосатой загрузки */
    background-image: linear-gradient( 45deg, rgba(0,0,0,0.1) 25%, transparent 25%, transparent 50%, rgba(0,0,0,0.1) 50%, rgba(0,0,0,0.1) 75%, transparent 75%, transparent );
    background-size: 20px 20px;
    transition: width 0.3s steps(10); /* Ступенчатая анимация */
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-text {
    color: #000;
    font-weight: bold;
    font-size: 0.8em;
    font-family: monospace;
    position: absolute;
    width: 100%;
    text-align: center;
    mix-blend-mode: difference; /* Инверсия цвета текста */
    z-index: 2;
}

.progress-bar-glitching {
    background: #ff0000;
}